## 311 complaints since from 2012 - 2022 (10 years) on illegal animal kept as pets

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('illegal_pets_311_complaints.csv')
df.head(5)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,56729020,02/05/2023 09:44:51 PM,NaN,DOHMH,Department of Health and Mental Hygiene,Illegal Animal Kept as Pet,Rooster,Residence,10314.0,53 SUNSET AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.599881,-74.132832,"(40.599880509363885, -74.13283176492723)"
1,56734820,02/06/2023 08:06:03 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Illegal Animal Kept as Pet,Other,Residence,11223.0,1701 WEST 1 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.606270,-73.974538,"(40.606270231224826, -73.97453818111181)"
2,56754616,02/08/2023 07:30:50 PM,NaN,DOHMH,Department of Health and Mental Hygiene,Illegal Animal Kept as Pet,Rooster,Residence,11428.0,93-14 215 PLACE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.719952,-73.741686,"(40.719951953432535, -73.74168592896957)"
3,56749304,02/08/2023 11:08:43 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Illegal Animal Kept as Pet,Other,Residence,10002.0,55 RUTGERS STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.711724,-73.989806,"(40.71172429074152, -73.98980637392404)"
4,56749406,02/08/2023 01:53:50 PM,NaN,DOHMH,Department of Health and Mental Hygiene,Illegal Animal Kept as Pet,Snake,Residence,11212.0,134 GRAFTON STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.665046,-73.918324,"(40.6650456314987, -73.91832421514512)"

In [5]:
# remove columns we don't need

df = df.drop(['Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name', 'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment'], axis=1)
df.head(5)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,BBL,Borough,X Coordinate (State Plane),Y Coordinate (State Plane),Open Data Channel Type,Park Facility Name,Park Borough,Latitude,Longitude,Location
0,56729020,02/05/2023 09:44:51 PM,NaN,DOHMH,Department of Health and Mental Hygiene,Illegal Animal Kept as Pet,Rooster,Residence,10314.0,53 SUNSET AVENUE,...,5.008240e+09,STATEN ISLAND,947363.0,157857.0,PHONE,Unspecified,STATEN ISLAND,40.599881,-74.132832,"(40.599880509363885, -74.13283176492723)"
1,56734820,02/06/2023 08:06:03 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Illegal Animal Kept as Pet,Other,Residence,11223.0,1701 WEST 1 STREET,...,3.066560e+09,BROOKLYN,991320.0,160158.0,PHONE,Unspecified,BROOKLYN,40.606270,-73.974538,"(40.606270231224826, -73.97453818111181)"
2,56754616,02/08/2023 07:30:50 PM,NaN,DOHMH,Department of Health and Mental Hygiene,Illegal Animal Kept as Pet,Rooster,Residence,11428.0,93-14 215 PLACE,...,4.106180e+09,QUEENS,1055854.0,201680.0,ONLINE,Unspecified,QUEENS,40.719952,-73.741686,"(40.719951953432535, -73.74168592896957)"
3,56749304,02/08/2023 11:08:43 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Illegal Animal Kept as Pet,Other,Residence,10002.0,55 RUTGERS STREET,...,1.002560e+09,MANHATTAN,987076.0,198577.0,PHONE,Unspecified,MANHATTAN,40.711724,-73.989806,"(40.71172429074152, -73.98980637392404)"
4,56749406,02/08/2023 01:53:50 PM,NaN,DOHMH,Department of Health and Mental Hygiene,Illegal Animal Kept as Pet,Snake,Residence,11212.0,134 GRAFTON STREET,...,3.035340e+09,BROOKLYN,1006909.0,181581.0,PHONE,Unspecified,BROOKLYN,40.665046,-73.918324,"(40.6650456314987, -73.91832421514512)"

In [7]:
df.dtypes

Unique Key                          int64
Created Date                       object
Closed Date                        object
Agency                             object
Agency Name                        object
Complaint Type                     object
Descriptor                         object
Location Type                      object
Incident Zip                      float64
Incident Address                   object
Street Name                        object
Cross Street 1                     object
Cross Street 2                     object
Intersection Street 1              object
Intersection Street 2              object
Address Type                       object
City                               object
Landmark                           object
Facility Type                     float64
Status                             object
Due Date                           object
Resolution Description             object
Resolution Action Updated Date     object
Community Board                    object
BBL                               float64
Borough                            object
X Coordinate (State Plane)        float64
Y Coordinate (State Plane)        float64
Open Data Channel Type             object
Park Facility Name                 object
Park Borough                       object
Latitude                          float64
Longitude                         float64
Location                           object
dtype: object

In [11]:
# convert to datetime

df['Created Date'] = pd.to_datetime(df['Created Date'])
df['Created Date'].head(5)

0   2023-02-05 21:44:51
1   2023-02-06 08:06:03
2   2023-02-08 19:30:50
3   2023-02-08 11:08:43
4   2023-02-08 13:53:50
Name: Created Date, dtype: datetime64[ns]

In [9]:
# 2023-02-05 21:44:51 split into date and time